#content-wrapper {
  position: relative;
  background: none;
  background-color: #FFF;
  margin: 0 auto;
  width: 1003px;
}

#content {
  background: none;
  width: 100%;
  padding: 0 0 30px 0;
}

#content ol li {
  line-height: 1.5;
}

#content div#breadcrumb {
  background: url(./img/bg_localizer.png) repeat-x 0 0;
  color: #BCBCBC;
  font-size: 11px;
  font-family: "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
  height: 21px;
  padding: 5px 0 0 7px;
}

#content div#breadcrumb a {
  color: #BCBCBC;
  text-decoration: none;
  text-transform: uppercase;
}

#content div#breadcrumb ol li {
  display: inline;
}

#dashboard-title {
  background-image: url('http://www.uhero.hawaii.edu/assets/Dasboardbranding2.png');
  background-position: 98% 0%;
  background-repeat: no-repeat;
  background-size: 15%;
  padding: 40px 10px 15px;
}

#dash-title {
  color: #1D667F;
  font-family: verdana, sans-serif;
  font-size: 27pt;
  font-weight: 700;
  text-transform: uppercase;
}

#dash-sub-title {
  color: #1D667F;
  font-family: verdana, sans-serif;
  font-size: 18pt;
  text-transform: uppercase;
}