#comparison-table {
    font-size: 12px;
    font-family: sans-serif;
    margin-bottom: 10px;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #F1F1F1;
    font-size: 1.1em;
    vertical-align: middle;
}

th {
    color: #1D667F;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.values {
    text-align: right;
}

#select-note {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    align-self: center;
    justify-self: center;
    color: #E5E5E5;
    font-size: 2em;
}