#footer {
  background: url(./img/bg_footer.jpg) repeat-x 0 0;
  font-family: Arial;
}
  
#footer .wrap-inner {
  background: url(./img/bg_footer2.png) no-repeat 50% 0;
  height: 260px;
  margin: 0 auto;
  padding: 9px 0 0 0;
  width: 1003px;
}
  
#footer .wrap-inner p {
  color: #FFF;
  font-size: 10px;
  line-height: 155%;
}
  
#footer .wrap-inner p a {
  color: #66D3D5;
  margin: 0 2px;
}
  
#footer .wrap-inner p.left {
  background: url(./img/logo01.png) no-repeat 2px 2px;
  float: left;
  font-size: 11px;
  padding: 0 0 0 148px;
}
  
#footer .wrap-inner p.right {
  float: right;
  text-align: right;
  padding: 1px 5px 0 0;
}