.legend {
    font-family: sans-serif;
    position: absolute;
    top: 500px;
    left: 925px;
}

.legend-color {
    display: inline-block;
    font-family: sans-serif;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}

.legend-value {
    vertical-align: middle;
}
