ul, .Select {
    display: inline-block;
    font-family: sans-serif;
    vertical-align: middle;
}

ul li {
    margin: 5px;
}

.Select {
    width: 225px;
}

.Select .Select-control {
    border-radius: 0;
}