#map-container {
    display: grid;
    grid-template-rows: 500px 450px 550px;
    grid-template-columns: auto 450px 150px;
    grid-template-areas:
        'legend' 'map'
        'varSelectors' 'bubblechart' 'heatmap'
        'comparison-table';
    margin: 40px;
}

#map {
    grid-area: map;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#legend {
    grid-area: legend;
    font-family: sans-serif;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    align-self: start;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-right-radius: 5px;
    padding: 10px;
}

.legend-color {
    display: inline-block;
    font-family: sans-serif;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}

.legend-value {
    vertical-align: middle;
}

#comparison-table {
    grid-area: comparison-table;
}

#yVarSelector {
    grid-area: yVarSelector;
    grid-column: 1 / span 1;
}

#xVarSelector {
    grid-area: xVarSelector;
    grid-column: 2 / span 1;
}

#bubblechart {
    grid-area: bubblechart;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#varSelectors {
    grid-area: varSelectors;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#heatmap {
    grid-area: heatmap;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}